# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
bin/
scaling_nosql/perf_book_app/BookStore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
scaling_nosql/perf_book_app/BookStore/obj/
scaling_nosql/perf_book_app/BookStoreTest/obj/Debug/BookStoreTest.csproj.FileListAbsolute.txt
scaling_nosql/perf_book_app/BookStoreTest/obj/
scaling_nosql/perf_book_app/MongoDB.Extensions/obj/Debug/MongoDB.Extensions.csproj.FileListAbsolute.txt
